@import 'reset.css';

#main {margin: 0;
padding: 0;
border:50px solid #210B61;
background-color: #A4A4A4}
h3{font-family: 'Bangers', cursive; 
font-size: 35px;
font-weight: bold;
}

 .nav, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
						.nav-tabs > li.active > a:focus, .nav-tabs > li > a {
							border: none; 
							font-family: 'Playfair Display', serif;
							color: #0A0A2A;
							font-size: 20px;}
							
							
						h3 {
	font-family: 'Playfair Display', serif;
	color: #AF0000;
	font-size: 48px
					}

#arts{background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpQ1GbZ7IceByEpaNiXXEUII-z37xXWGX9MDnNpMH3VLXM0Lm8sg');}

#tab{background-image: url('http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10448926_874981939183228_169400303_a.jpg');
}
#T{font-family: 'Bangers', cursive;
font-size: 25px;
color: blue;
margin: 7%;
    width: 100%}

#tech{background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSkRvx4firpnwXHHMW1RCfjCWt1HeXfD5mhQ3oAwRxG4AemOCYR5g');}

#animals{background-image: url('http://www.planwallpaper.com/static/images/7004205-cool-black-backgrounds-27640_lhK8IKI.jpg');}
#intrest{background-color: ;}

#about{background-image:url('');}
#index{background-image:url('');}
p.one{font-family: 'Bangers', cursive;
		font-size: 28px;
		color: #FF0040;
		margin: 7%;
    width: 100%;
    border:none;
	}
p.two{font-family: 'Bangers', cursive;
font-size: 25px;
color: #FF0040;
margin: 7%;
    width: 100%;
    border:none;
   
}
p.three{font-family: 'Bangers', cursive;

font-size: 25px;
color: #FF0040;
margin: 7%; margin-left:-76% ;
    width: 60px;
    border:none;
 }
