@import 'reset.css';

h3{ 
	font-family: "Algerian";
	font-style: bold; 
	font-size: 65px;
	color: #F78181;
}
.nav{font-family:"Castellar"; 
				font-style: italic; ;
				font-size: 20px ;
				color: #0404B4;

}
.text{ font-family:"Harrington";
	font-size: 60px;
	color: #5858FA;
}
.body{background-color: #BDBDBD;
	cursor: url("http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif"),auto;

}