@import 'style.css';

#main {background-image: url();}
h3{font-family: 'Slabo 27px', serif; 
font-size: 35px;
font-weight: bold;
}
 .nav, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
						.nav-tabs > li.active > a:focus, .nav-tabs > li > a {
						border: none;
						font-family: 'Playfair Display', serif;
						font-size: 28px;
	
						}
							
							
						h3 {
	font-family: 'Playfair Display', serif;
	color: #AF0000;
	font-size: 38px;
	text-align: center;
					}

#arts { background-image: url('http://wallpoper.com/images/00/39/68/37/skulls-artwork_00396837.jpg');

}

#tech{ background-image: url('http://images.gizmag.com/hero/world_technology.jpg');

}

#animals { background-image: url('http://www.wesavepets.org/graphics/tagline_overlay.png');

}

